<div [formGroup]="form">

<!-- Dropdown with categories -->
<mat-form-field>
  
  <mat-select placeholder="Select category" formControlName="category">

    <!-- manually defined
    <mat-option [value]="BEGINNER">Beginner</mat-option>
    <mat-option [value]="ADVANCED">Beginner</mat-option>
    -->

    <!-- backend options -->
    <ng-container *ngFor="let category of (courseCategories$ | async)">
      <mat-option [value]="category.code">{{ category.description }}</mat-option>
    </ng-container>

  </mat-select>

</mat-form-field>

<div> 
{{ form.value | json }}
</div>

</div>